.body{
  width: auto;
  margin-top:30% ;
}
.title {
  color: var(--colour-main-blue-900, #091133);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; 
  margin-top: -700px;
  width: 600px;
  margin-left: 450px;
}
.bgimg {
  width: 1520px;
  margin-left: 50px;
}

.text {
  color: var(--colour-main-blue-400, #6f7cb2);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Regular 16 */
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  line-height: 26px; /* 162.5% */
  width: 600px;
  margin-top: -20px;
  margin-left: 430px;
}

.design {
  color: var(--colour-main-blue-700, #222f65);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Medium 50 */
  font-family: "Roboto";
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 66px; /* 132% */
  letter-spacing: 1px;
}

.design2 {
  color: var(--colour-main-blue-600, #37447e);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Regular 16 */
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-top: -50px;
}

.design3 {
  color: var(--colour-main-grey-600, #5d6970);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Regular 14 */
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  margin-top: 65px;
  margin-left: 5px;
}

.button {
  margin-top: -250px;
  margin-left: 5px;
  height: 40px;
  width: 200px;
  background-color: #05103e;
  font-family: "Roboto";
  color: #fff;
  border: 3px solid rgb(6, 6, 56);
}
.button:hover {
  width: 12rem;
  border-radius: 2rem;
  background: radial-gradient(rgb(14, 8, 65) 76%, rgb(13, 6, 65) 0%);
}

/* for mobile*/
@media (max-width: 600px) {
  .bgimg {
    width: 100%;
    margin-left: 0%;
  }
  .title{
    margin-left: -35%;
    font-size: 16px;
    margin-top: -35rem;

  }
  .text{
    font-size: 8px;
    margin-left: 13%;
    width: 17rem;
    line-height: 14px;
  }
  .design{
    color: var(--colour-main-blue-700, #222f65);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 66px;
  letter-spacing: 1px;
  margin-top: -6%;
  margin-left: -2%;

  }
.design2{
  font-size: 10px;
  margin-left: -2%;
}
.design3{
  font-size: 10px;
  margin-top: -4%;
  margin-left: -2%;
}
.button{
  background-color: #05103e;
  font-family: "Roboto";
  color: #fff;
  border: 3px solid rgb(6, 6, 56);
  width: 25%;
  height: 3%;
  font-size: 10px;
  margin-top: -2%;
  position: absolute;
  margin-left: -13%;
}
.button:hover {
  width: 6rem;
  border-radius: 2rem;
  background: radial-gradient(rgb(14, 8, 65) 76%, rgb(13, 6, 65) 0%);
}

}
