.bgIcon {
  margin-top: 300px;
}
.title {
  color: var(--colour-main-blue-900, #091133);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Medium 36 */
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 133.333% */
  margin-top: -700px;
  width: 600px;
  margin-left: 450px;
}
.bgimg{
  width:1520px;
  margin-left: 50px;
}

.text {
  color: var(--colour-main-blue-400, #6f7cb2);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Regular 16 */
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  line-height: 26px; /* 162.5% */
  width: 600px;
  margin-top: -20px;
  margin-left: 430px;
}

.design {
  color: var(--colour-main-blue-700, #222f65);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Medium 50 */
  font-family: "Roboto";
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 66px; /* 132% */
  letter-spacing: 1px;
}

.design2 {
  color: var(--colour-main-blue-600, #37447e);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Regular 16 */
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-top: -50px;
}

.design3 {
  color: var(--colour-main-grey-600, #5d6970);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Regular 14 */
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  margin-top: 60px;
  margin-left: 5px;
}

.button {
  margin-top: -250px;
  margin-left:5px;
  height: 40px;
  width: 200px;
  background-color: #05103e;
  font-family: "Roboto";
  color: #fff;
  border: 3px solid rgb(6, 6, 56);
}
