.body {
  margin-top: 200px;
  width: auto;
  height: 50%;
}
.intro {
  width: 35rem;
  margin-left: 7.5%;
  margin-top: 10rem;
  color: var(--colour-main-blue-900, #091133);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 36px;
  text-align: justify;
  font-style: normal;
  font-weight: 500;
  line-height: 48px; /* 133.333% */ /* 133.333% */
}

.text {
  width: 35%;
  margin-left: 7.5%;
  color: var(--colour-main-blue-400, #6f7cb2);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 16px;
  text-align: justify;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
.image {
  background-image: url("../assets/image.PNG");
  background-size: cover;
  width: 40%;
  height: 40rem;
  margin-left: 60%;
  margin-top: -18rem;
}

.icon1Title {
  color: var(--colour-main-blue-900, #091133);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  width: 8rem;
  margin-left: 7%;
}

.icon2Title {
  width: 8rem;
  margin-left: 6%;
  color: var(--colour-main-blue-900, #091133);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.icontxt {
  display: flex;
  flex-direction: row;
}
.icon1 {
  margin-left: 308px;
  margin-top: 0%;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
.icon2 {
  margin-left: 308px;
  margin-top: 0%;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
.icon1Text {
  width: 15rem;
  margin-top: 3%;
  margin-left: -7.5%;
  color: var(--colour-main-grey-600, #5d6970);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  text-align: justify;
  font-weight: 400;
  line-height: 18px;
}
.icon2Text {
  width: 15rem;
  color: var(--colour-main-grey-600, #5d6970);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  text-align: justify;
  font-weight: 400;
  line-height: 18px;
  margin-top: 3%;
  margin-left: -7.5%;
}

.icon {
  display: flex;
  margin-top: -20%;
  margin-left: -12%;
}
.TitleText {
  display: flex;
}

/* media query for mobile */
@media (max-width: 415px) {
  .body {
    width: auto;
    height: auto;
  }
  .intro {
    margin-left: 10%;
    font-size: 18px;
    width: 60%;
    letter-spacing: 0.5px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
  }
  .text {
    margin-left: 10%;
    font-size: 14px;
    width: 70%;
    letter-spacing: 0.5px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
  }
  .image {
    margin-left: 2%;
    width: auto;

    margin-top: 3%;
  }
  .icon {
    display: flex;
    flex-direction: column;
    margin-top: 0%;
  }
  .icon1 {
    margin-left: 5%;
  }
  .icon1Title {
    color: var(--colour-main-blue-900, #091133);
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-top: -38%;
    margin-left: -15%;
  }
  .icon1Text {
    color: var(--colour-main-grey-600, #5d6970);
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Roboto";
    font-size: 12px;
    font-style: normal;
    text-align: justify;
    font-weight: 400;
    line-height: 18px;
    margin-left: 5%;
    margin-top: -2%;
    width: auto;
  }

  .icon2 {
    margin-top: 30%;
    margin-left: 5%;
  }
  .icon2Title {
    margin-top: 22%;
    margin-left: -21%;
  }
  .icon2Text {
    color: var(--colour-main-grey-600, #5d6970);
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Roboto";
    font-size: 12px;
    font-style: normal;
    text-align: justify;
    font-weight: 400;
    line-height: 18px;
    margin-top: -2%;
    margin-left: 5%;
    width: auto;
  }
}
