.body {
  flex-direction: row;
}
.bg {
  background-image: url("../assets/Rectangle.png");
  image-resolution: 1440px;
  background-size: cover;
  background-position: 70%;
  z-index: 1;
  margin-top: 200px;
  width: 1520px;
  height: 300px;
  margin-top: 140px;
  margin-left: 50px;
}

.txt1 {
  margin-top: -210px;
  margin-left: -60%;
  color: var(--colour-main-grey-400, #939ea4);
  font-feature-settings: "clig" off, "liga" off;

  /* Medium 14 */
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}

.txt2 {
  margin-top: -3%;
  color: var(--colour-logo-primary, #37447e);
  font-feature-settings: "clig" off, "liga" off;

  /* Bold 26 */
  font-family: "Roboto";
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: 38px; /* 146.154% */
}

.btn {
  margin-top: -4%;
  margin-left: 80%;
  height: 25px;
  width: 140px;
  background-color: #05103e;

  font-family: "Roboto";
  color: #fff;
  border: 3px solid rgb(6, 6, 56);
  padding-top: 8px;
}

.line {
  background-image: url("../assets/download.jfif");
  background-size: cover;
  background-position: 70%;
  background: #cdd1d4;
  width: 1068px;
  height: 2px;
  margin-left: 16%;
  margin-top: 3%;
  z-index: 1;
}

.home {
  color: var(--colour-main-blue-300, #929ecc);
  font-feature-settings: "clig" off, "liga" off;

  /* Regular 14 */
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  margin-top: -30px;
  margin-left: -65%;
}

.about {
  color: var(--colour-main-blue-300, #929ecc);
  font-feature-settings: "clig" off, "liga" off;

  /* Regular 14 */
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  margin-top: -35px;
  margin-left: -50%;
}

.contact {
  color: var(--colour-main-blue-300, #929ecc);
  font-feature-settings: "clig" off, "liga" off;

  /* Regular 14 */
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  margin-top: -35px;
  margin-left: -35%;
}

.icon1 {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-top: 30px;
  margin-left: 69.5%;
  z-index: 1;
}

.iconsbody {
  flex-direction: row;
}

.icon2 {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 1;
}

.icon3 {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 1;
}

.icon4 {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 1;
}

.icon5 {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  margin-top: 20px;
  margin-left: 20px;
  z-index: 1;
}

@media (max-width: 600px) {
  .bg {
    width: 300px;
    height: 70px;
    margin-top: 7px;
    margin-left: 0px;
  }
  .txt1 {
    font-size: 8px;
    margin-top: -75px;
    margin-left: -280px;
  }
  .txt2 {
    font-size: 12px;
    margin-top: -38px;
    margin-left: -120px;
  }
  .btn {
    margin-left: 185px;
    margin-top: -40px;
    width: 53px;
    padding: 3px 8px;
    height: 10px;
    padding: auto;
    font-size: 8px;
  }
  .line {
    margin: 40px;
    margin-top: -0px;
    width: 230px;
    margin-left: 30px;
  }
  .home {
    margin-left: -320px;
    margin-top: -25px;
    font-size: 8px;
  }
  .about {
    margin-left: -250px;
    font-size: 8px;
    margin-top: -32px;
  }
  .contact {
    margin-left: -180px;
    font-size: 8px;
    margin-top: -31px;
  }
  .body {
    flex-direction: row;
  }
  .icon {
    flex-direction: row;
    margin-top: -65px;
  }
  .icon1 {
    margin-left: 8px;
    width: 10px;
  }
  .icon2 {
    margin-left: -35px;
    width: 10px;
  }

  .icon3 {
    margin-left: -35px;
    width: 10px;
  }
  .icon4 {
    margin-left: -35px;
    width: 10px;
  }
  .icon5 {
    margin-left: -35px;
    width: 10px;
  }
}
