.body {
  width: auto;
  height: auto;
}
.header {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #505f98;
  background-image: url("../assets/Path.png");
  background-size: cover;
  width: 100%;
  height: 50rem;
}
.home {
  color: var(--colour-main-blue-500, #505f98);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-top: 2%;
  margin-left: 6%;
}
.header {
  display: flex;
  flex-direction: row;
}
.about {
  color: var(--colour-main-blue-500, #505f98);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-left: 4%;
  margin-top: 2%;
}

.contact {
  color: var(--colour-main-blue-500, #505f98);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-left: 4%;
  margin-top: 2%;
}

.landing {
  flex-direction: row;
  color: var(--colour-main-blue-500, #505f98);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  margin-left: 22%;
}

.button {
  color: var(--colour-secondary-white-100-general, #fff);
  font-feature-settings: "clig" off, "liga" off;
  background-color: #081963;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  width: 8rem;
  height: 2rem;
  margin-left: 35%;
  margin-top: 1.5%;
}

.groupImg {
  content: "";
  width: 30%;
  height: 35rem;
  margin-left: 70%;
  margin-top: -600px;
  background-image: url("../assets/Group.png");
  image-resolution: 1440px;
  background-size: cover;
  background-position: 70%;
  z-index: 1;
}
.menubtn {
  visibility: hidden;
}
.txt {
  display: flex;
  flex-direction: column;
}
.intro {
  color: var(--colour-main-blue-900, #091133);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 50px;
  font-style: normal;
  text-align: justify;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 1.5px;
  margin-left: 6%;
  margin-top: -550px;
  width: 40%;
  z-index: 1;
}
.text {
  color: var(--colour-main-blue-500, #505f98);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 18px;
  text-align: justify;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-left: 6%;
  width: 40%;
}

.button1 {
  display: flex;
  flex-direction: row;
  font-family: "Roboto";
  margin-left: 15%;
  margin-top: 2%;
  border: 3px solid #05103e;
  background-color: #05103e;
  color: #fff;

  width: 12%;
  height: 2.5rem;
}

.button2 {
  display: flex;
  flex-direction: row;
  margin-left: 29%;
  margin-top: -2.5%;
  background-color: #eeeff4;
  font-family: "Roboto";
  color: #05103e;
  width: 12%;
  height: 2.5rem;
}
