.body {
  width: auto;
  height: auto;
}
.header {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #505f98;
  background-image: url("../assets/Path.png");
  background-size: cover;
  width: auto;
  height: 48rem;
}
.home {
  color: var(--colour-main-blue-500, #505f98);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 2%;
  margin-left: 4rem;
}
.header {
  display: flex;
  flex-direction: row;
}
.about {
  color: var(--colour-main-blue-500, #505f98);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 4%;
  margin-top: 2%;
}

.contact {
  color: var(--colour-main-blue-500, #505f98);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 4%;
  margin-top: 2%;
}

.landing {
  flex-direction: row;
  color: var(--colour-main-blue-500, #505f98);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: 38px;
  margin-left: 22%;
}

.button {
  color: var(--colour-secondary-white-100-general, #fff);
  font-feature-settings: "clig" off, "liga" off;
  background-color: #081963;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  width: 10rem;
  height: 2rem;
  margin-left: 32%;
  margin-top: 1.5%;
}

.groupImg {
  content: "";
  background-image: url("../assets/Group.png");
  background-size: cover;
  width: 33.5%;
  height: 635px;
  position: absolute;
  margin-left: 65.5rem;
  margin-top: 8rem;
  flex-shrink: 0;
}
.txt {
  display: flex;
  flex-direction: column;
}
.intro {
  color: var(--colour-main-blue-900, #091133);
  font-family: "Roboto";
  font-size: 50px;
  text-align: justify;
  font-weight: 500;
  line-height: 66px; /* 132% */
  letter-spacing: 1px;
  position: absolute;
  margin-top: 12rem;
  width: 35rem;
  margin-left: 8rem;
}
.text {
  color: var(--colour-main-blue-500, #505f98);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 18px;
  text-align: justify;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  position: absolute;
  margin-top: 23rem;
  width: 35rem;
  margin-left: 8.5rem;
}

.button1 {
  display: flex;
  flex-direction: row;
  color: var(--colour-secondary-white-100-general, #ffffff);
  background-color: #081963;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  position: absolute;
  justify-content: center;
  margin-top: 38rem;
  margin-left: 8.5rem;
  width: 13rem;
  padding-top: 0.3rem;
  height: 2.5rem;
}

.button2 {
  display: flex;
  flex-direction: row;
  color: var(--colour-secondary-white-100-general, rgb(8, 8, 78));
  background-color: #ecedf1;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  border: 1px solid rgb(8, 8, 73);
  position: absolute;
  justify-content: center;
  margin-top: 38rem;
  margin-left: 25rem;
  width: 13rem;
  padding-top: 0.3rem;
  height: 2.5rem;
}

.button:hover {
  background: radial-gradient(rgb(14, 8, 65) 76%, rgb(13, 6, 65) 0%);
  border-radius:5rem;
  
}

.button1:hover {
  width: 14rem;
  border-radius: 2rem;
  background: radial-gradient(rgb(14, 8, 65) 76%, rgb(13, 6, 65) 0%);
}

.button2:hover {
  width: 14rem;
  border-radius: 2rem;
  background: radial-gradient(rgb(235, 235, 237) 76%, rgb(219, 217, 227) 20%);
}

@media (max-width: 600px) {
  .header {
    width: 100%;
    height: 30rem;
  }
  .home {
    visibility: hidden;
  }
  .about {
    visibility: hidden;
  }
  .contact {
    visibility: hidden;
  }
  .menubtn {

    margin-top: 1.5rem;
    margin-left: 2rem;
    width: 4rem;
    color: var(--colour-secondary-white-100-general, rgb(6, 6, 46));
    background-color: #ecedf1;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    border: 1px solid rgb(8, 8, 73);
  }
  .drawer{
    background-color: #c6cbe1;
    width: 10rem;
    height: 10rem;
    position: absolute;
    margin-left: 7%;
    z-index: 1;
    padding-top: 1rem;
    font-size: 20px;
}
  .landing {
    position: absolute;
    margin-left: 40%;
  }
  .button {
    position: absolute;
    width: 4rem;
    margin-top: 2rem;
    margin-left: 80%;
  }

  .groupImg {
    content: "";
    background-image: url("../assets/Group.png");
    background-size: cover;
    flex-shrink: 0;
    width: 50%;
    height: 14rem;
    margin-left: 50%;
    margin-top: 38%;
  }

  .intro {
    display: flex;
    flex-direction: column;
    color: var(--colour-main-blue-900, #091133);
    font-family: "Roboto";
    font-size: 12px;
    text-align: justify;
    margin-top: 9rem;
    width: 10rem;
    line-height:normal;
    font-weight: 700;
    line-height: 1rem;
    margin-left: 8%;
    margin-top: 32%;
  }
  .text {
    color: var(--colour-main-blue-500, #505f98);
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Roboto";
    font-size: 10px;
    text-align: justify;
    font-weight: 200;
    width: 10rem;
    line-height: 1rem;
    margin-left: 8%;
    margin-top: 45%;
  }

  .button1 {
    color: var(--colour-secondary-white-100-general, #ffffff);
    background-color: #081963;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Roboto";
    font-size: 8px;
    padding-top: 2px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    width: 5rem;
    height: 2rem;
    margin-top: 23rem;
    margin-left: 2rem;
  }

  .button2 {
    color: var(--colour-secondary-white-100-general, rgb(8, 8, 78));
    background-color: #ecedf1;
    font-feature-settings: "clig" off, "liga" off;
    font-family: "Roboto";
    font-size: 8px;
    padding-top: 2px;
    border: 1px solid rgb(8, 8, 73);
    width: 5rem;
    height: 2rem;
    margin-top: 23rem;
    margin-left: 8rem;
  }
  .button1:hover {
    width: 6rem;
    border-radius: 2rem;
    background: radial-gradient(rgb(14, 8, 65) 76%, rgb(13, 6, 65) 0%);
  }
  
  .button2:hover {
    width: 6rem;
    border-radius: 2rem;
    background: radial-gradient(rgb(235, 235, 237) 76%, rgb(219, 217, 227) 20%);
  }
  
}
@media  (min-width:600px){
  .menubtn{
    visibility: hidden;
  }
}